body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
}

img {
    height: 350px;
    opacity: .4;
    transition: 0s;
    border-radius: 20px;
}

.btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 70px;
}

.btn button {
    height: 100%;
    width: 50px;
    font-size: 20px;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    color: white;
    transition: 0.6s;
}

.btn #next {
    border-radius: 15px 0 0 15px;
}

.btn #prev {
    border-radius: 0 15px 15px 0;
}

.btn button:hover {
    background-color: rgb(0, 0, 0, 0.6);
}

.fade img {
    opacity: 1 !important;
    transition: 0.6s;
}

.baslik {
    left: 50%;
    font-weight: bolder;
    position: absolute;
    bottom: 5px;
    color: white;
    z-index: 999;
    transform: translate(-50%, -50%);
    opacity: 0.90;
}

.img-box {
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    text-decoration: none !important;
    list-style: none !important;
}

.dots {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.dot {
    background-color: #D3D3D3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: gray 1px solid;
    cursor: pointer;
    transition: 0.6s;
    margin: 0 5px;
}

.selected {
    width: 30px;
    background-color: gray;
    border-radius: 10px;
}


